<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">bitPascals</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->


      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          {% if request.path == '/': %}
            <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
          {% else: %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
          {% endif %}

          {% if request.path == '/about': %}
            <li><a class="active" href="{{ url_for('about') }}">About</a></li>
          {% else: %}
            <li><a href="{{ url_for('about') }}">About</a></li>
          {% endif %}

          {% if request.path == '/resume': %}
            <li><a class="active" href="{{ url_for('resume') }}">Resume</a></li>
          {% else: %}
            <li><a href="{{ url_for('resume') }}">Resume</a></li>
          {% endif %}

          {% if request.path == '/services': %}
            <li><a class="active" href="{{ url_for('services') }}">Services</a></li>
          {% else: %}
            <li><a href="{{ url_for('services') }}">Services</a></li>
          {% endif %}

          {% if request.path == '/portfolio': %}
            <li><a class="active" href="{{ url_for('portfolio') }}">Portfolio</a></li>
          {% else: %}
            <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
          {% endif %}

          {% if request.path == '/contact': %}
            <li><a class="active" href="{{ url_for('contact') }}">Contact</a></li>
          {% else: %}
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>

  </header><!-- End Header -->