{%  extends "layout.html"  %}


{% block title %}bitPascal's{% endblock %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
     <div id="hero_image_overlay">
      <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Pascal C. Uzosike</h1>
        <h2>I'm a professional Software Engineer</h2>
        <a href="{{ url_for('about') }}" class="btn-about">About Me</a>
      </div>
     </div>
  </section><!-- End Hero -->

{% endblock %}

